{% extends 'base.html' %}

{% load static %}

{% load tz %}

{% block title %}{{ question.subject }}{% endblock %}

{% block breadcrumb %}
{% include 'includes/parklot_breadcrumb.html' %}
<li class="breadcrumb-item"><a href="{% url 'list_questions' question.lot.slug %}">{{ question.lot.group_name }}</a></li>
<li class="breadcrumb-item active">{{ question.subject }}</li>
{% endblock %}

{% block content %}

{% timezone question.lot.timezone %}

{% include 'includes/single_comment.html' with post=question.get_first_post question=question %}

Note: Only the last comment can be edited.<br/><br/>

<div class='mb-4'>
    <a href="{% url 'post_comment' question.lot.slug question.pk %}" class="btn btn-primary" role="button">Reply</a>
</div>


{% for post in question.posts.all|slice:"1:" %}
  {% include 'includes/single_comment.html' with post=post question=None%}
{% endfor %}

{% endtimezone %}

{% endblock %}

