{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Parking lots</li>
{% endblock %}

{% block content %}
  <div class="mb-4">
      <a href="{% url 'create_lot' %}" class="btn btn-primary">New Parking Lot</a>
  </div>

  <table class="table">
    <thead class="thead inverse">
      <tr>
        <th>Lot</th>
        <th class='text-center'>Questions</th>
        <th class='text-center'>Comments</th>
        <th>Last Post</th>
        </tr>
    </thead>
    <tbody>
      {% for lot in lots %}
      <tr>
          <td>
              <a href="{% url 'list_questions' lot.slug %}">{{lot.group_name}}</a>
              <small class="text-muted d-block">{{ lot.description }} in {{lot.location}}</small>
        </td>
        <td class="text-center align-middle">
            {{ lot.questions.count }}
        </td>
        <td class="text-center align-middle">
            {{ lot.get_comments_count }}
        </td>
        <td class="align-middle">
            {% with post=lot.get_last_comment %}
            {% if post %}
            <small>
                <a href="#">
                    By {{ post.created_name }} at {{post.created_at}} UTC
                </a>
            </small>
            {% else %}
              <small class="text-muted">
                  <em>No comments yet</em>
              </small>
              {% endif %}
            {% endwith %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

