{% extends 'base.html' %}

{% load humanize %}

{% block title %}
  {{ lot.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'list_lots' %}">All Parking Lots</a></li>
  <li class="breadcrumb-item active">{{ lot.group_name }}</li>
{% endblock %}

{% block content %}
<div class='mb-4'>
    {{lot.description}} in {{lot.location}} <br/>
    ({{lot.start_date}} - {{lot.end_date}}) 
</div>


<div class='mb-4'>
    <a href="{% url 'new_question' lot.slug %}" class="btn btn-primary">New Question</a>
</div>

<table class="table table-striped mb-4">
    <thead class="thead-inverse">
        <tr>
            <th>Question</th>
            <th>Starter</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last update</th>
        </tr>
    </thead>
    <tbody>
        {% for question in questions%}
        <tr>
            <td>
                <a href="{% url 'question_comments' lot.slug question.pk %}">{{question.subject}}</a>
                <small class="text-muted
                d-block">{{question.get_first_post|truncatechars:30 }}</small>
            </td>
            <td>{{question.starter.username}}</td>
            <td>{{ question.replies }}</td>
            <td>{{ question.views }}</td>
            <td>{{ question.last_updated | naturaltime }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
