{% extends 'base.html' %}

{% block title %}
  {{ lot.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'list_lots' %}">Lots</a></li>
  <li class="breadcrumb-item active">{{ lot.group_name }}</li>
{% endblock %}

{% block content %}
<div class='mb-4'>
    <a href="{% url 'new_question' lot.slug %}" class="btn btn-primary">New Question</a>
</div>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>Question</th>
            <th>Starter</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last update</th>
        </tr>
    </thead>
    <tbody>
        {% for question in lot.questions.all %}
        <tr>
            <td>{{question.subject}}</td>
            <td>{{question.starter.username}}</td>
            <td>0</td>
            <td>0</td>
            <td>{{question.last_updated}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
