{% extends 'base.html' %}

{% block title %}Ask a new question{% endblock %}

{% block breadcrumb %}
  {% include 'includes/parklot_breadcrumb.html' %}
  <li class='breadcrumb-item'><a href="{% url 'list_questions' lot.slug %}">{{lot.group_name}}</a></li>
  <li class='breadcrumb-item active'>New question</li>
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Park Question</button>
  </form>
{% endblock %}
