{% extends 'base.html' %}

{% load static %}

{% load tz %}

{% block title %}Post a reply{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/simplemde.min.css' %}">
{% endblock %}

{% block breadcrumb %}
  {% include 'includes/parklot_breadcrumb.html' %}
  <li class="breadcrumb-item"><a href="{% url 'list_questions' question.lot.slug %}">{{ question.lot.group_name }}</a></li>
  <li class="breadcrumb-item"><a href="{% url 'question_comments' question.lot.slug question.pk %}">{{ question.subject }}</a></li>
  <li class="breadcrumb-item active">Post a reply</li>
{% endblock %}

{% block content %}
  {% timezone question.lot.timezone %}

  <div class="mb-4">
      {% include 'includes/single_comment.html' with post=question.get_first_post question=question %}
  </div>

  <div class="mb-4">
      <h3>Your comment</h3>
      <form method="post" class="mb-4" novalidate>
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <button type="submit" class="btn btn-success">Post a reply</button>
      </form>
  </div>


  {% for post in question.posts.all|slice:"1:" %}
    {% include 'includes/single_comment.html' with post=post question=None %}
  {% endfor %}

  {% endtimezone %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/simplemde.min.js' %}"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}
